* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Set the default font family and size */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: aquamarine;
    background-image: url(https://www.hotspotshield.com/imgs/vpn-offer/compared-bg.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}  
/* Style the header */

header {
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

/* Style the backlink */
.back-link {
    position: absolute; /* Make the backlink positioned absolutely */
    top: 1; /* Position the backlink at the top of the header */
    right: 0; /* Position the backlink at the right of the header */
}
h1 {
    text-align: center;
}
.container img {
    width: 50%; /* Ensure images fit their containers */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Treat images as block elements for better alignment */
    margin: 0 auto; 
}
li {
    text-align: center;
    line-height: 20px;
}

/* Set the padding and margin of the footer */
footer {
    background-color: #a4cef6;
    padding: 5px;
    border-top: 1px solid #ccc;
    text-align: center;
  }
  
  /* Set the font size and margin of the footer paragraph */
  footer p {
    font-size: 11px;
    margin: 0;
  }
  